* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #cfcfcf;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    overflow: hidden;
}

.custom-scroll {
    padding-bottom: 1rem;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(104, 104, 104);
  border-radius: 2rem;
  cursor: all-scroll;
}

.custom-scroll::-webkit-scrollbar {    
    width: 0.3rem;    
    height: 0.4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;    
    cursor: all-scroll;
}
 
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);    
}

.react-tabs {
    position: fixed;
    width: 100%;
}

.Toastify__progress-bar-theme--dark {
    background: #CD00FE !important;
}