name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        node-version: [16.x]        

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: "npm"

    - name: "Install dependencies"
      run: npm install 

    - name: "Run build"
      run: npm run build  

  test:     
    runs-on: ubuntu-18.04
    needs: "build"

    strategy:
      matrix:
        node-version: [16.x]        

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: "Install dependencies"
        run: npm install 
      
      - name: "Run tests"
        run: npm test

  deploy:
    runs-on: ubuntu-18.04
    needs: [ "build", "test" ]
    if: github.ref == 'refs/heads/main'

    steps:
      - name: "Install and Build"
        run: |
          npm ci
          npm run build

      - name: "Deploy"
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages
          folder: build

